services:
  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgresql://postgres.hgngfrdecsvpiondzakl:qP8Ahm5PkQAotd6B@aws-1-ap-south-1.pooler.supabase.com:6543/postgres
      SECRET_KEY: your-secret-key-here
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    image: node:22
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host"
